@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f5f8ff;
}
